@import '../../variables';

.form--search {
    position: relative;
    width: 300px;
    .form-item {
        margin-bottom: 0;
        label {
            font-size: 0 !important;
            padding: 0 !important;
        }
        .input {
            border-radius: 21px;
            padding: 10px 15px;
            border: 1px solid transparent;
            background-color: $light-color;
            &::placeholder {
                color: $grey-color;
            }
        }
    }
}