
.form--search {
    position: relative;
    width: 300px;
    .formItem {
        margin-bottom: 0;
        .input {
            border-radius: 21px;
            padding: 10px 15px;
        }
    }
}