@import '../variables';
@import '../utility';

.header_block {
    background-color: $header-background;
    &-inner {
        @include add-container;
        padding-top: 10px;
    }
    .header_right {
        flex-direction: column;
        .header_group--two {
            display: flex;
            gap: 10px;
            background-color: $primary-color;
            border-radius: 21px;
        }
    }
}