@import '../../components/style/input.scss';
@import '../../variables';

.input--upload {
    position: relative;
    width: calc(50% - 10px);
    min-height: 250px;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px dashed #c6c6c6;
    background-color: rgba(198, 198, 198, 0.1);
    border-radius: 20px;
    transition: .3s ease-in-out;
    overflow: hidden;
    &:hover,
    &.dragover {
        border-color: $button-default-background;
        background-color: rgba(74, 128, 239, 0.1);
    }
    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .upload-icon {
        width: 100px;
    }
    .upload-text {
        color: $grey-color;
        text-align: center;
        line-height: 1.2;
    }
    .upload-input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .upload-preview {
        position: relative;
    }
    .upload-image {
        border-radius: 10px;
    }
    &.loadedFile .upload-image {
        display: block;
    }
    .upload-progress-container {
        display: none;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 14px;
        position: relative;
        overflow: hidden;
    }
    &.preloadFile .upload-progress-container {
        display: block;
    }
    &.loadedFile .upload-progress-container {
        display: none;
    }
    .upload-progress-container_value {
        font-size: 0;
    }
    .upload-progress-container_bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $primary-color;
        transition: width .3s ease-in-out;
    }
    &.loadedFile:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        z-index: -1;
    }
    &.loadedFile:hover:before {
        opacity: 1;
        visibility: visible;
    }
    &.preloadFile .upload-icon,
    &.preloadFile .upload-text,
    &.preloadFile .upload-input,
    &.loadedFile .upload-icon,
    &.loadedFile .upload-text,
    &.loadedFile .upload-input  {
        display: none;
    }
}