$primary-color: #4a80ef;
$secondary-color: #121421;
$dark-color: #4c4848;
$grey-color: #c6c6c6;
$light-color: #f4f4f4;
$white: #fff;
$black: #000;
$container-width: 1440px;
$side-width: 300px;
$header-background: $white;
$header-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
$header-padding: 10px 20px 0;
$logo-width: 180px;
$logo-height: 70px;
$nav-space-between-items: 20px;
$nav-item-color: $secondary-color;
$nav-item-hover-color: $primary-color;
$container-padding: 20px;
$container-radius: 20px;
$button-default-background: $primary-color;
$button-default-border: $primary-color;
$button-default-background-hover: #0e65b1;
$button-default-border-hover: #0e65b1;
$button-default-color: $white;
$shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.1);