$primary-color: #4a80ef;
$secondary-color: #121421;
$grey-color: #4c4848;
$light-color: #f4f4f4;
$white: #fff;
$black: #000;
$header-background: $white;
$header-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
$header-padding: 10px 20px 0;
$logo-width: 250px;
$logo-height: 68px;
$nav-space-between-items: 20px;
$nav-item-color: $secondary-color;
$nav-item-hover-color: $primary-color;
$container-width: 1280px;
$button-default-background: $primary-color;
$button-default-border: $primary-color;
$button-default-background-hover: #0e65b1;
$button-default-border-hover: #0e65b1;
$button-default-color: $white;