@import './variables';
@import './utility';

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    background-color: $white;
}

h1,
.h1 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 20px;
}

h2,
.h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px;
}

h3,
.h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 15px;
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 15px;
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
}

.v-space-between {
    justify-content: space-between;
}

button:focus {
    outline: none;
}

.error {
    color: #d74040;
}

.content-page {
    &_inner {
        @include add-container;
    }
    .container {
        &_inner {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

form {
    max-width: 500px;
}