@import './variables';

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify_sb {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}

.align_end {
    align-items: flex-end;
}

.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    border-radius: 25px;
    &--default {
        background-color: $button-default-background;
        border: 1px solid $button-default-border;
        color: $white;
        &:hover,
        &:focus {
            background-color: $button-default-background-hover;
            border: 1px solid $button-default-border-hover;
            cursor: pointer;
        }
    }
    &--search {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        font-size: 14px;
        color: $dark-color;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: $white;
        }
    }
    &--profile,
    &--cart {
        width: 32px;
        height: 32px;
        font-size: 14px;
        padding: 0;
        margin: 5px;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        color: $white;
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: #0e65b1;
        }
    }
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin add-container {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
}

$start: 0;
$end: 90;

@for $i from $start through $end {
  .gap-#{$i} {
    gap: #{$i}px;
  }
}